<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Recommendation</title>
</head>
<body>
    <h1>Course Recommendation</h1>
    <form action="/recommend" method="post">
        <label for="user_input">Enter your query:</label><br>
        <input type="text" id="user_input" name="user_input"><br>
        <input type="submit" value="Submit">
    </form>

    <br><br>

    <h1>Extended Course Recommendation</h1>
    <form action="/recommend_extended" method="post">
        <label for="user_input">Enter your query:</label><br>
        <input type="text" id="user_input" name="user_input"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>